!!! 5
%html
    %head
        %meta{ 'http-equiv' => "Content-type", content: "text/html; charset=utf-8"}
        %title Earth's Energy
        %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
        / %link{ href: "css/jquery.ui.css", rel: "stylesheet", media: "screen" }
        %link{ href: "css/coursera.css", rel: "stylesheet", media: "screen" }
        / %link{ href: "css/slider.css", rel: "stylesheet", media: "screen" }
        / %link{ href: "css/application.css", rel: "stylesheet", media: "screen" }
    %body
        #banner
            %h2 RRTM Earth's Energy Budget
        / #settings
        /     Units: 
        /     %select
        /         %option SI
        /         %option USA
        #doc
            %a{href: './rrtm.doc.html', target: '_blank'}
                %b About this model
        #models
            %a{href: 'http://climatemodels.uchicago.edu'}
                %b Other Models
        #inputs
            %table.padded-table{border: true}
                %tr
                    %td
                        %table.padded-table
                            %tr
                                %td
                                    %h3 If the Sun and Earth have these properties...
                %tr
                    %td
                        %table.padded-table
                            %tr
                                %td Direct Sunlight (W/m <sup>2</sup>)
                                %td
                                    %input{name:"scon","data-value" => 1360}
                            %tr
                                %td Surface
                                %td
                                    %select.textButton{name:"surface"}
                                        %option{value: 0.08} Asphalt
                                        %option{value: 0.55} Concrete
                                        %option{value: 0.4} Desert
                                        %option{value: 0.3, "data-selected" => "selected"} Earth's average
                                        %option{value: 0.15} Forest
                                        %option{value: 0.25} Grass
                                        %option{value: 0.6} Ice
                                        %option{value: 0.1} Ocean
                                        %option{value: 0.85} Snow
                                        %option{value: 0.17} Soil
                                        %option{value: 'custom'} Custom albedo
                            %tr
                                %td Albedo (fraction)
                                %td
                                    %input{name:"asdir","data-value" => 0.3}
                %tr
                    %td
                        %table.padded-table
                            %tr
                                %td Surface Temp (K)
                                %td
                                    %input{name:"Ts","data-value" => 287}
                            %tr
                                %td Lapse Rate (K/km)
                                %td
                                    %input{name:"lapseRate","data-value" => 10}
                            %tr
                                %td Stratospheric Height (km)
                                %td
                                    %input{name:"tropopause","data-value" => 15}
                %tr
                    %td
                        %table.padded-table
                            %tr
                                %td CO<sub>2</sub> (ppm)
                                %td
                                    %input{name:"co2","data-value" => 400}
                            %tr
                                %td CH<sub>4</sub> (ppm)
                                %td
                                    %input{name:"ch4","data-value" => 1.7}
                            %tr
                                %td Water Vapor Scale
                                %td
                                    %input{name:"h2o","data-value" => 1}
                %tr
                    %td
                        %table.padded-table
                            %tr
                                %td Low Cloud (fraction)
                                %td
                                    %input{name:"stratus","data-value" => 0}
                            %tr
                                %td High Cloud (fraction)
                                %td
                                    %input{name:"cirrus","data-value" => 0}
                            %tr
                                %td Drop radius (10<sup>-6</sup>m)
                                %td
                                    %input{name:"r_liq","data-value" => 10}
                %tr
                    %td
                        %table.padded-table
                            %tr
                                %td{colspan: 2}
                                    %select.textButton{name:"aerosols"}
                                        %option{"data-selected" => "selected"} No aerosols
                                        %option Ocean
                                        %option Desert
                                        %option City
                                        %option City, just sulfates
                                        %option City, just black carbon
                                        %option Land
                                        %option Land, polluted
                                        %option Antarctic
                                        %option Volcano (Pinatubo)
        #flowsPlotData
        #profilePlotData
        #flows
            %table.padded-table
                %tr
                    %td
                        %table.padded-table
                            %tr
                                %td
                                    %h3
                                        %span#toa
                %tr
                    %td
                        %table
                            %tr
                                %td                                    
                                    %svg#rrtm
        #profile
        / %div.container
        /     %svg#rrtm{style: 'margin: auto;'}
        /         %text.inputDescription{y: '20', width: '300px', 'text-anchor' => 'middle', style: 'font-family: helvetica, sans-serif; font-size: 20px', fill: '#434358', style: 'display: none;'}
        /             %tspan If the Sun and the Earth's surface
        /             %tspan{y: '45'} and atmosphere have these properties...
        /         %text.output{x: '520', 'text-anchor' => 'middle', y: '20', style: 'font-family: helvetica, sans-serif; font-size: 20px', fill: '#434358'}
        /         %foreignObject.reset{y: '0', x: '0', style: 'display: none;'}
        /             %body.reset{xmlns: 'http://www.w3.org/1999/xhtml'}
        /                 %div
        /                     %a#reset{href:'#reset'} reset
        /                     / | presets:
        /                     / %select#presets
        /                     /     %option{value: 'isothermal, no greenhouse gases'} isothermal, no greenhouse gases
        /                     /     %option{value: 'standard mid-latitude'} standard mid-latitude
        / 
        /         %foreignObject.loader
        /             %body.loader{xmlns: 'http://www.w3.org/1999/xhtml'}
        /                 %div
        /                     %img#loader{ src: 'img/ajax-loader.gif'}
        %script{ src: "js/jquery.js" }
        / %script{ src: "js/bootstrap.min.js" }
        / %script{ src: "js/bootstrap-slider.js" }
        / %script{ src: 'js/respond.js' }
        %script{ src: "js/d3.js", charset: "utf-8" }
        / %script{ src: "js/visualization.js" }
        %script{ src: 'js/jquery.migrate.js' }
        %script{ src: 'js/jquery.ui.js' }
        %script{ src: 'js/jquery.easytabs.min.js' }
        %script{ src: 'js/rrtm.js' }
