!!! 5
%html
    %head
        %meta{ 'http-equiv' => "Content-type", content: "text/html; charset=utf-8"}
        %title Earth's Energy
        %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
        %link{ href: "css/jquery.ui.css", rel: "stylesheet", media: "screen" }
        %link{ href: "css/coursera.css", rel: "stylesheet", media: "screen" }
        / %link{ href: "css/slider.css", rel: "stylesheet", media: "screen" }
        / %link{ href: "css/application.css", rel: "stylesheet", media: "screen" }
    %body
        #banner
            %h2 Earth's Energy Budget
        / #settings
        /     Units: 
        /     %select
        /         %option SI
        /         %option USA
        #doc
            %a{href: './modtran.doc.html', target: '_blank'}
                %b About this model
        #models
            %a{href: 'http://climatemodels.uchicago.edu'}
                %b Other Models
        %div.container
            %svg#rrtm{style: 'margin: auto;'}
                %text.inputDescription{y: '20', width: '300px', 'text-anchor' => 'middle', style: 'font-family: helvetica, sans-serif; font-size: 20px', fill: '#434358', style: 'display: none;'}
                    %tspan If the Sun and the Earth's surface
                    %tspan{y: '45'} and atmosphere have these properties...
                %text.output{x: '520', 'text-anchor' => 'middle', y: '20', style: 'font-family: helvetica, sans-serif; font-size: 20px', fill: '#434358'}
                %foreignObject.reset{y: '0', x: '0', style: 'display: none;'}
                    %body.reset{xmlns: 'http://www.w3.org/1999/xhtml'}
                        %div
                            %a#reset{href:'#reset'} reset
                            / | presets:
                            / %select#presets
                            /     %option{value: 'isothermal, no greenhouse gases'} isothermal, no greenhouse gases
                            /     %option{value: 'standard mid-latitude'} standard mid-latitude
                %switch
                    %foreignObject.input{y: '100', x: '40', requiredFeatures: "http://www.w3.org/TR/SVG11/feature#Extensibility"}
                        %body.inner{xmlns: 'http://www.w3.org/1999/xhtml'}
                            %div.input{style: 'overflow-x:scroll; overflow-y:hidden', height: '380px'}
                                %svg#inner{width: '2000px', height: '360px', style: 'float: left;'}
                                    %switch
                                        %foreignObject.control{x: '0', y: '-10', requiredFeatures: "http://www.w3.org/TR/SVG11/feature#Extensibility"}
                                            %body.control{xmlns: 'http://www.w3.org/1999/xhtml'}
                                                %div#tab-container.tab-container
                                                    %ul.etabs
                                                        %li.tab
                                                            %a{href:"#tabs1-sun"} Sun
                                                        %li.tab
                                                            %a{href:"#tabs1-surface"} Surface
                                                        %li.tab.default
                                                            %a{href:"#tabs1-atmosphere"} Atmosphere
                                                    %div#tabs1-sun
                                                        %div#sunlightText
                                                            direct sunlight:
                                                            %span.sunlight 1370
                                                            W/m
                                                            %sup 2
                                                        %div#sunlight
                                                        / %div#sunTempText
                                                        /     Sun's surface temperature:
                                                        /     %span.sunTemp 5780
                                                        /     K
                                                        / %div#sunTemp
                                                        / %div#distanceToSunText
                                                        /     distance to Sun:
                                                        /     %span.distanceToSuntext
                                                        / %div#distanceToSun
                                                    %div#tabs1-surface
                                                        %ul.albedo{style: 'font-size: 80%; list-style-type: none; padding: 5px; margin: 0;'}
                                                            %li
                                                                %span.instruction select surface type:
                                                        %div#albedoText
                                                            albedo: 
                                                            %span.albedo 0.3
                                                        %div#albedo
                                                    %div#tabs1-atmosphere
                                                        %ul.control{style: 'font-size: 80%; list-style-type: none; padding: 5px; margin: 0;'}
                                                            %li
                                                                %span.instruction check boxes to show profiles:
                    Your browser does not support this page.
                %foreignObject.loader
                    %body.loader{xmlns: 'http://www.w3.org/1999/xhtml'}
                        %div
                            %img#loader{ src: 'img/ajax-loader.gif'}
        %script{ src: "js/jquery.js" }
        / %script{ src: "js/bootstrap.min.js" }
        / %script{ src: "js/bootstrap-slider.js" }
        / %script{ src: 'js/respond.js' }
        %script{ src: "js/d3.js", charset: "utf-8" }
        / %script{ src: "js/visualization.js" }
        %script{ src: 'js/jquery.migrate.js' }
        %script{ src: 'js/jquery.ui.js' }
        %script{ src: 'js/jquery.easytabs.min.js' }
        %script{ src: 'js/rrtm.js' }
