body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.tab-pane {
    padding-top: 30px;
}
.navbar-brand{
    max-width: 700px;
}

.input path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
 
.input line {
    stroke: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dropdown-menu {
    min-width: 400px;
/*    left: auto;*/
/*    right: -200px;    */
    padding: 5px;
}

.dropdown-menu.row {
    min-width: 600px;
    left: auto;
    right: -200px;
    padding: 5px;
}

.dropdown-menu ul {
    list-style: none;
}

.dropdown-menu ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

/*.navbar {
    background-color: #000000;
}*/

.navbar-brand:hover,
.navbar-brand:focus {
  color: #777777;
}