body{font:1em Helvetica,sans-serif;color:#434358;}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.input line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

path.profile {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.x.label {
    font-size: .75em;
}