body {
    font:1em Helvetica,sans-serif;
    color:#434358;
    background-color:#ffffff
}
text.output {
    font:1em Helvetica,sans-serif;
    color:#434358;    
}
#banner {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    height:70px;
    padding-left:15px;
    background-color: #f5f5f5;
    border-top: 6px solid #b94a48; 
    box-shadow: 1px 1px 3px #A3A3A7;
}

#settings{position:absolute;right:350px;top:30px;}
#doc{position:absolute;right:180px;top:30px;}
#models{position:absolute;right:50px;top:30px;}
.modelClass{ padding:25px 5px 5px 5px; font-weight:bold; font-size:20px;text-align:center;}
.imageClass{ text-align:center;}
.link{ border:solid 2px;padding:8px;;text-align:left}
#inputs{
    position:absolute;
    left:30px;
    width:350px;
    top:100px;
}
#flows{
    position:absolute;
    left:400px;
    width:550px;
    top:100px;
    height:600px; 
}
#profile{position:absolute;left:900px;width:200px;top:60px;height:500px; }
table.padded-table td{padding:2px;}
#spectrumPlotData{position:absolute;left:550px;top:600px;z-index:1000;}
#profilePlotData{position:absolute;left:950px;top:600px;z-index:1000;}
.textButton{display:inline-block;padding:4px;font-size:12px;max-width:290px;}


/*body{font:1em Computer Modern,sans-serif;color:#434358;}*/

.ui-tooltip-content {
    font:1em Helvetica,sans-serif;
    color:#434358;
}

.container{
    padding-top: 100px;
}

.instruction {
    color: '#666';
    font-style: italic;
}

.axis path,
.axis line {
    fill: none;
    stroke: #434358;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.input line {
    fill: none;
    stroke: #434358;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

path.profile {
    stroke: #b94a48; /*steelblue;*/
    stroke-width: 2;
    fill: none;
}

.x.label {
    font-size: .75em;
}

/*.control ul {
    list-style-type: none;
}*/

.ui-slider, #albedoText, #sunlightText, #sunTempText, #distanceToSunText {
    font-size: 80%;
    margin-left: 10px;
    margin-right: 10px;
}

.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 12px; line-height: 2em; display: block; padding: 0 2px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
